<div class="container">
<div ng-include="'views/partials/nav.html'"></div>
<div class="row">
<div class="recipe_name">


<h2 id="YourRecipe" >Add Recipe </h2>

  <div ng-controller="RecipeController">
 <label>Name<br>
    <textarea ng-model="newRecipe.name"></textarea>
     <label>Description<br>
    <textarea ng-model="newRecipe.description"></textarea>
     <label>Ingredients<br>
    <textarea ng-model="newRecipe.ingredients"></textarea>
  <br>
    <button type="button" ng-click="postRecipe(newRecipe)">Save Recipe</button>

    <button type="button" ng-click="postPicture(newPicture)">Add Picture</button>


    <div ng-repeat="recipe in sushiList.recipes track by $index">
      <p>{{recipe.name}}</p>
      <p>{{recipe.description}}</p>
      <p>{{recipe.ingredients}}</p>
    </div>
    <form ng-submit="submit()">
      <legend>Upload a new file here:</legend>
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" ng-model="upload.name" required/>
      <br/>
      <label for="file">File:</label>
      <input type="file" name="file" id="file" ng-model="upload.file" ngf-select ngf-max-size="25MB" required/>
      <br/>
      <input type="submit" value="Submit"/>
    </form>
  </div>
  </div>
  </div>
  </div>










  <!-- <div class="nameRecipe">
  <input type="text" placeholder="Name Recipe" name="name" id="name">
</div>
<br>
  <textarea name="comment" form="usrform">Description</textarea>
  <textarea name="comment" form="usrform">Ingredients</textarea>

  <div class="sort-buttons">
 <button class="rent-button btn-md">Edit</button>
 <button class="sale-button btn-md" ng-click="">Save</button> -->

</div>
</div>
</div>
