<div class="container">

<div ng-include="'views/partials/nav.html'"></div>

<!-- <ul>
  <li>test</li>
</ul> -->
<div class="sushi_recipes">
    <input class="btn btn-default" type="submit" name="submit" value="Sushi List" />
    <input class="btn btn-default" type="submit" name="submit" value="Favorites" />
    <input class="btn btn-default" type="submit" name="submit" value="Friends" />
</div>
<br>
<div class="add_recipes">
  <a href="#/recipe">Add Sushi Recipe</a>
<!-- <input class="btn btn-default" type="submit" name="submit" value="Add Sushi Recipes" /> -->
</div>
</div>
